<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqy.dao.XqyOrderDetailsMapper">

    <resultMap id="BaseResultMap" type="com.xqy.bean.XqyOrderDetails">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="goodsNum" column="goods_num" jdbcType="INTEGER"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="FLOAT"/>
        <result property="sum" column="sum" jdbcType="FLOAT"/>
        <result property="isValid" column="is_valid" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,order_id,goods_name,
        goods_num,unit,price,
        sum,is_valid,create_date,
        update_date
    </sql>
    <!-- 查询订单详情 -->
    <select id="selectByParams" parameterType="com.xqy.query.XqyOrderDetailsQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_details
        where is_valid=1 and order_id=#{orderId}
    </select>
</mapper>
